.container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;

  width: 30%;
  padding: 2em;
  margin: auto;
  margin-top: 40px;

  background-color: #2a2a2a;

  font-family: "Unbounded", cursive;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 3px;
}

@keyframes login {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.btn {
  border-radius: 3px;
  border: none;
  margin-bottom: 20px;
  margin-top: 10px;
  height: 35px;
  font-family: "Unbounded", cursive;
  cursor: pointer;

  width: 300px;

  background-color: rgb(111, 251, 111);
}

.input {
  border-radius: 5px;
  height: 25px;
  width: 300px;
  font-size: large;
  background-color: rgb(122, 122, 122);
  color: white;
  margin: 5px 0px;
}

.input::placeholder {
  color: white;
}

.title {
  color: #46ad58;
}

label {
  color: #bcf7ed;
  text-align: start;
}
