@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap");

.container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-content: center;
  background-color: rgb(36, 36, 36);

  height: 80px;
  line-height: 70px;
  padding: 0 20px;
  font-family: "Rubik", sans-serif;
  font-size: 26px;
}

@media screen and (max-width: 700px) {
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
  }
  .littleContainer {
    flex-direction: column;
  }
  .littleContainer div {
    display: flex;
    height: 86px;
    flex-direction: column;
  }
  .littleContainer button {
    margin: auto;
    width: 300px;
    height: 300px;
    background-color: blue;
  }

  .littleContainer input {
    margin: auto;
    width: 300px;
    height: 300px;
  }
}

.littleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.littleContainer button {
  width: 100px;
  height: 30px;
  background-color: rgb(169, 249, 168);
  border: none;
  margin: 0 30px;
  border-radius: 30px;
  font-family: "Rubik", sans-serif;
  cursor: pointer;
}

.littleContainer button:hover {
  background-color: rgb(40, 170, 37);
}

.littleContainer p {
  color: white;
  text-decoration: none;
  padding: 0 20px;
  transition: 1s;
}

.littleContainer p:hover {
  transform: scale(1.1);
  color: #98b8ed;
}

.littleContainer a p {
  text-align: center;
}

.littleContainer input {
  width: 50px;
  height: 20px;
  border-radius: 5px;
  font-family: "Rubik", sans-serif;
}

.littleContainer div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
